<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8382898606-2t3a2vnq8j02r8950a517kkdkdq9eb8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8382898606-2t3a2vnq8j02r8950a517kkdkdq9eb8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0-hZulZNXCPf3ug0PT3llXWuumhgWs0</string>
	<key>GCM_SENDER_ID</key>
	<string>8382898606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noritz.noritzconnect</string>
	<key>PROJECT_ID</key>
	<string>noritz-connect-4bfb0</string>
	<key>STORAGE_BUCKET</key>
	<string>noritz-connect-4bfb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8382898606:ios:bb28597e79038376b3a83f</string>
	<key>DATABASE_URL</key>
	<string>https://noritz-connect-4bfb0.firebaseio.com</string>
</dict>
</plist>